In [1]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress

In [2]:
#Air quality data
aq2020_df = pd.read_csv("Resources/aq2020.csv")
aq2019Q1_df = pd.read_csv("Resources/aq2019Q1.csv")
aq2019Q2_df = pd.read_csv("Resources/aq2019Q2.csv")
aq2019Q3_df = pd.read_csv("Resources/aq2019Q3.csv")

#Format dataframe dates
date_format = [aq2020_df,aq2019Q1_df,aq2019Q2_df,aq2019Q3_df]
for df in date_format:
    df['Date'] = pd.to_datetime(df['Date'])

In [3]:
#Covid API URL
base_url = "https://api.covid19api.com/dayone/country/"
end_url = "/status/confirmed"

#Enter country
country = ""

response = requests.get(base_url+country+end_url).json()

#On responses, run following code:
variable = pd.DataFrame.from_dict(response, orient='columns')

#Format covid dataframe dates (now mergable with air quality dataframes)
variable['Date'] = variable['Date'].str.strip('T00:00:00Z')
variable['Date'] = pd.to_datetime(variable['Date'])

In [4]:
aq2020_df.head()

        Date Country    City Specie  count  min   max  median  variance
0 2020-04-08      PT  Lisbon    no2   85.0  1.8  21.2     6.9    167.69
1 2020-04-21      PT  Lisbon    no2   94.0  1.1  11.2     3.3     46.31
2 2020-06-30      PT  Lisbon    no2   59.0  1.1  14.3     5.3     96.35
3 2020-07-11      PT  Lisbon    no2   74.0  1.4  26.9     7.1    228.29
4 2020-01-05      PT  Lisbon    no2   72.0  2.7  46.7     8.1   1683.13

In [7]:

aq2019Q1_df.head()

        Date Country       City Specie  count    min    max  median  variance
0 2019-01-16      AE  Abu Dhabi   pm10   24.0   86.0   99.0    97.0    179.40
1 2019-01-22      AE  Abu Dhabi   pm10   24.0   51.0   57.0    55.0     23.75
2 2019-01-26      AE  Abu Dhabi   pm10   24.0  136.0  173.0   160.0    941.96
3 2019-01-07      AE  Abu Dhabi   pm10   24.0   60.0   91.0    72.0   1006.88
4 2019-01-10      AE  Abu Dhabi   pm10   24.0   82.0   93.0    87.0     57.97

aq2019Q2_df.head()

In [8]:
aq2019Q2_df.head()

        Date Country   City Specie  count   min   max  median  variance
0 2019-05-10      MO  Macau     o3  117.0   1.4  42.9    15.7   1129.11
1 2019-05-14      MO  Macau     o3  114.0   1.5  39.4    10.1    734.48
2 2019-05-15      MO  Macau     o3  117.0   1.7  24.1     9.8    367.55
3 2019-05-22      MO  Macau     o3  118.0  10.3  70.9    36.0   1859.40
4 2019-05-29      MO  Macau     o3  114.0   1.2  42.0    18.8   1410.13

In [29]:
AQ2019_df = pd.concat([aq2019Q1_df, aq2019Q2_df])
AQ2019_df.head()

        Date Country       City Specie  count    min    max  median  variance
0 2019-01-16      AE  Abu Dhabi   pm10   24.0   86.0   99.0    97.0    179.40
1 2019-01-22      AE  Abu Dhabi   pm10   24.0   51.0   57.0    55.0     23.75
2 2019-01-26      AE  Abu Dhabi   pm10   24.0  136.0  173.0   160.0    941.96
3 2019-01-07      AE  Abu Dhabi   pm10   24.0   60.0   91.0    72.0   1006.88
4 2019-01-10      AE  Abu Dhabi   pm10   24.0   82.0   93.0    87.0     57.97

In [31]:
AQ2019_China_df = AQ2019_df.loc[AQ2019_df["Country"] == "CN"]
AQ2019_China_df.head()

,Date,Country,City,Specie,count,min,max,median,variance
384292,2019-03-22,CN,Beijing,temperature,456.0,0.0,14.5,9.5,238.98
384293,2019-03-27,CN,Beijing,temperature,480.0,2.5,22.0,10.5,415.96
384294,2018-12-31,CN,Beijing,temperature,480.0,-14.0,-3.0,-9.5,151.43
384295,2019-01-22,CN,Beijing,temperature,480.0,-1.0,11.1,3.0,194.82
384296,2019-02-04,CN,Beijing,temperature,480.0,-7.5,3.0,-4.0,121.93

In [32]:
AQ2019_ChinaPM25_df = AQ2019_China_df.loc[(
    AQ2019_China_df["Specie"] == "pm25")]
AQ2019_ChinaPM25_df.head()

,Date,Country,City,Specie,count,min,max,median,variance
384664,2019-02-02,CN,Beijing,pm25,479.0,119.0,235.0,179.0,4289.72
384665,2019-03-07,CN,Beijing,pm25,448.0,5.0,155.0,61.0,7084.05
384666,2019-01-19,CN,Beijing,pm25,478.0,9.0,217.0,46.0,6932.12
384667,2019-01-21,CN,Beijing,pm25,476.0,21.0,198.0,78.0,18755.00
384668,2019-02-19,CN,Beijing,pm25,439.0,30.0,449.0,180.0,30316.10

In [28]:
AQ2019_Japan_df = AQ2019_df.loc[AQ2019_df["Country_x"] == "JP"]
AQ2019_Japan_df.head()

,Date,Country_x,City_x,Specie_x,count_x,min_x,max_x,median_x,variance_x,Country_y,City_y,Specie_y,count_y,min_y,max_y,median_y,variance_y
185989,2019-01-07,JP,Fukuoka,wind-gust,127.0,0.1,8.7,2.8,65.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185990,2019-01-08,JP,Fukuoka,wind-gust,160.0,0.2,13.5,5.3,170.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185991,2019-02-23,JP,Fukuoka,wind-gust,200.0,0.1,28.0,2.0,404.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185992,2019-02-28,JP,Fukuoka,wind-gust,97.0,0.2,14.4,2.0,70.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185993,2019-02-15,JP,Fukuoka,wind-gust,75.0,0.1,10.0,1.6,50.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN