In [1]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress

In [2]:
#Air quality data
aq2020_df = pd.read_csv("Resources/aq2020.csv")
aq2019Q1_df = pd.read_csv("Resources/aq2019Q1.csv")
aq2019Q2_df = pd.read_csv("Resources/aq2019Q2.csv")
aq2019Q3_df = pd.read_csv("Resources/aq2019Q3.csv")

#Format dataframe dates
date_format = [aq2020_df,aq2019Q1_df,aq2019Q2_df,aq2019Q3_df]
for df in date_format:
    df['Date'] = pd.to_datetime(df['Date'])

In [8]:
#Covid API URL
base_url = "https://api.covid19api.com/dayone/country/"
end_url = "/status/confirmed"

#Enter country
country = "Japan"

response = requests.get(base_url+country+end_url).json()

#On responses, run following code:
variable = pd.DataFrame.from_dict(response, orient='columns')

#Format covid dataframe dates (now mergable with air quality dataframes)
#variable['Date'] = variable['Date'].str.strip('T00:00:00Z')
#variable['Date'] = pd.to_datetime(variable['Date'])
variable

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status,Date
0,Japan,JP,,,,36.2,138.25,2,confirmed,2020-01-22T00:00:00Z
1,Japan,JP,,,,36.2,138.25,2,confirmed,2020-01-23T00:00:00Z
2,Japan,JP,,,,36.2,138.25,2,confirmed,2020-01-24T00:00:00Z
3,Japan,JP,,,,36.2,138.25,2,confirmed,2020-01-25T00:00:00Z
4,Japan,JP,,,,36.2,138.25,4,confirmed,2020-01-26T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...
173,Japan,JP,,,,36.2,138.25,22125,confirmed,2020-07-13T00:00:00Z
174,Japan,JP,,,,36.2,138.25,22437,confirmed,2020-07-14T00:00:00Z
175,Japan,JP,,,,36.2,138.25,23172,confirmed,2020-07-15T00:00:00Z
176,Japan,JP,,,,36.2,138.25,23510,confirmed,2020-07-16T00:00:00Z
177,Japan,JP,,,,36.2,138.25,24104,confirmed,2020-07-17T00:00:00Z

In [4]:
aq_Japan = aq2020_df.loc[aq2020_df['Country']=="JP"]
aq_Japan['Specie'].unique()

array(['pm25', 'no2', 'dew', 'co', 'o3', 'wind speed', 'wind-gust', 'so2',
       'pressure', 'wind-speed', 'precipitation', 'pm10', 'temperature',
       'humidity', 'wind gust'], dtype=object)

,Date,Country,City,Specie,count,min,max,median,variance
0,2020-04-08,PT,Lisbon,no2,85.0,1.8,21.2,6.9,167.69
1,2020-04-21,PT,Lisbon,no2,94.0,1.1,11.2,3.3,46.31
2,2020-06-30,PT,Lisbon,no2,59.0,1.1,14.3,5.3,96.35
3,2020-07-11,PT,Lisbon,no2,74.0,1.4,26.9,7.1,228.29
4,2020-01-05,PT,Lisbon,no2,72.0,2.7,46.7,8.1,1683.13
...,...,...,...,...,...,...,...,...,...
1048570,2020-01-23,CA,Halifax,pm25,46.0,10.0,44.0,20.0,647.44
1048571,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN